APP_ENV=production
APP_DEBUG=false
APP_URL=https://your-production-domain.test

DB_CONNECTION=mysql
DB_ENV=production

DB_PRODUCTION_HOST=production-db-host
DB_PRODUCTION_PORT=3306
DB_PRODUCTION_DATABASE=production_database
DB_PRODUCTION_USERNAME=production_user
DB_PRODUCTION_PASSWORD=
DB_PRODUCTION_SOCKET=
