APP_ENV=local
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

DB_CONNECTION=mysql
DB_ENV=sandbox

DB_SANDBOX_HOST=127.0.0.1
DB_SANDBOX_PORT=8889
DB_SANDBOX_DATABASE=sandbox_database
DB_SANDBOX_USERNAME=root
DB_SANDBOX_PASSWORD=root
DB_SANDBOX_SOCKET=/Applications/MAMP/tmp/mysql/mysql.sock

ZCMANAGER_API_TOKEN=
ZCMANAGER_API_URL=https://zcmanager.com
