.env
node_modules/
public/storage
public/exports/
storage/app/db-sync/*.sql
storage/app/db-sync/*.sql.gz
storage/app/public/
storage/app/moloni_tokens.json
.ftpquota
public/error_log
storage/tmp/uploads/
